/*-----414-----*/
/*-----fonts-----*/
@font-face {
  font-family: "regular";
  src: url("../fonts/PFBeauSansPro-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bold";
  src: url("../fonts/PFBeauSansPro-Bold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "semibold";
  src: url("../fonts/PFBeauSansPro-SemiBold.otf");
  font-weight: normal;
  font-style: normal;
}
/*-----fonts-----*/
/*-----defaul-----*/
* {
  box-sizing: border-box;
}

body,
html {
  font-family: "regular";
  color: #686868;
  font-size: 15px;
  min-width: 320px;
  min-height: 640px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

a {
  color: inherit;
  display: inline-block;
}
.ln,
.ln li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.custom-disk li {
  padding-left: 15px;
  position: relative;
}
.custom-disk li:before {
  content: "";
  width: 4px;
  height: 4px;
  left: 0;
  top: 8px;
  position: absolute;
  display: block;
  z-index: auto;
  background: #303030;
  border-radius: 100%;
}

.flex-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-cover {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.img-cover img {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: "bold";
  margin: 0;
  padding: 0;
  line-height: 1.1;
  color: #303030;
}

b,
strong {
  font-weight: normal;
  font-family: "semibold";
}

@media screen and (max-width: 1920px) {
  h1 {
    font-size: 42px;
  }
}
@media screen and (max-width: 1680px) {
  h1 {
    font-size: 32px;
  }
}
@media screen and (max-width: 1440px) {
  h1 {
    font-size: 21px;
  }
}
.main-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 15px;
  padding: 0 30px;
}

.social {
  display: inline-block;
  vertical-align: middle;
}
.social a {
  display: inline-block;
  margin: 0 0 0 15px;
}
.social a img {
  object-fit: cover;
  width: 30px;
  height: 30px;
}

/*-----defaul-----*/
/*-----btns-----*/
input.btn,
.btn {
  text-decoration: none;
  border: 1px solid;
  border-color: #303030;
  padding: 10px 30px;
  background: #303030;
  font: inherit;
  display: inline-block;
  color: inherit;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  max-width: 190px;
  width: 100%;
}
input.btn:hover,
.btn:hover {
  background: #76c100;
  color: #ffffff;
  border-color: #76c100;
}

/*pagination page start*/
.pagination-page {
  grid-column: span 16;
  text-align: center;
  margin: 0 0 45px;
  position: relative;
  z-index: 2;
}
.pagination-page a {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #E88328;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  line-height: 27px;
  border: 1px solid #E88328;
  vertical-align: middle;
  margin: 0 15px;
}
.pagination-page a:hover {
  color: #E88328;
  background-color: #ffffff;
}
.pagination-page .prev-page {
  display: inline-block;
  vertical-align: middle;
  width: 45px;
  height: 45px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/controls/prev.svg");
}
.pagination-page .next-page {
  display: inline-block;
  vertical-align: middle;
  width: 45px;
  height: 45px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/controls/next.svg");
}
.pagination-page .prev-page,
.pagination-page .next-page,
.pagination-page .dotted {
  background-color: initial;
  color: inherit;
  border: 0;
}
.pagination-page .prev-page,
.pagination-page .next-page {
  margin: 0 70px;
}

/*pagination page end*/
/*-----btns-----*/
/*-----forms-----*/
.form input:not(.btn),
.form textarea,
.form .custom-select {
  padding: 4px 10px 5px;
  border: 0;
  font: inherit;
  resize: none;
  width: 100%;
  background: none;
}
.form input:not(.btn):focus,
.form textarea:focus,
.form .custom-select:focus {
  outline: 0;
}

.file-decorate.error-input span,
.error-input {
  border-color: #f25368;
}

.checkbox.error-input {
  color: #f25368;
}

/*-file-upload-*/
.input-file {
  height: 30px;
  visibility: hidden;
}

.file-decorate {
  height: 30px;
  position: relative;
  margin-top: -30px;
  margin-bottom: 15px;
}
.file-decorate i {
  width: 15px;
  height: 15px;
  right: 0;
  top: 0;
  position: absolute;
  display: none;
  z-index: 2;
  margin: 7px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/close-b.png");
  cursor: pointer;
}
.file-decorate.full i {
  display: block;
}

/*-file-upload-*/
/*-custom-select-*/
.custom-select {
  cursor: pointer;
  position: relative;
}
.custom-select ul {
  width: 100%;
  height: auto;
  left: 0;
  top: 100%;
  position: absolute;
  display: block;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  background: #ffffff;
  color: #76c100;
  overflow: hidden;
  border-top: 0;
}
.custom-select ul li {
  padding: 4px 10px 5px;
  cursor: pointer;
  transition: ease-out 0.5s;
}
.custom-select ul li:hover {
  background: #686868;
}
.custom-select.active {
  z-index: 3;
}
.custom-select.active ul {
  visibility: visible;
  opacity: 1;
}
.custom-select.active i {
  transform: rotate(180deg);
}
.custom-select span {
  position: relative;
  z-index: 2;
}
.custom-select i {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/controls/down-arrow-white.svg");
  width: 10px;
  height: 10px;
  right: 0;
  top: 0;
  position: absolute;
  display: block;
  z-index: 2;
  margin: 9px;
}

/*-custom-select-*/
/*-checkbox-select-*/
.checkbox {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  padding-top: 5px;
}
.checkbox input {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  z-index: auto;
  opacity: 0;
}
.checkbox input:checked ~ span:after {
  display: block;
}
.checkbox span {
  width: 20px;
  height: 20px;
  left: 0;
  top: 6px;
  position: absolute;
  display: block;
  z-index: auto;
  border: 1px solid #ffffff;
  border-radius: 100%;
}
.checkbox span:after {
  content: "";
  width: 8px;
  height: 8px;
  left: 5px;
  top: 5px;
  position: absolute;
  display: none;
  z-index: auto;
  background: #ffffff;
  border-radius: 100%;
}

/*-checkbox-select-*/
/*-----forms-----*/
/*-----popup-form-----*/
/*-popup-*/
.popup-container {
  transition: ease-out 0.5s;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  display: block;
  z-index: 4;
}
.popup-container.show {
  opacity: 1;
  visibility: visible;
}
.popup-container .popup-bg {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  z-index: auto;
  background: #303030;
  opacity: 0.5;
}
.popup-container .flex-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.popup {
  max-width: 620px;
  background: #ffffff;
  margin: auto;
  position: relative;
  text-align: center;
  padding: 50px 0 60px;
}
.popup h2 {
  margin: 0 0 50px;
}
.popup .close {
  width: 15px;
  height: 15px;
  right: 0;
  top: 0;
  position: absolute;
  display: block;
  z-index: auto;
  cursor: pointer;
  margin: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/close-b.png");
}
.popup form {
  max-width: 75%;
  margin: 0 auto;
}
.popup form input,
.popup form textarea {
  border-bottom: 1px solid #686868;
  padding-left: 0;
  padding-right: 0;
  margin: 0 0 30px;
}
.popup form textarea {
  height: 30px;
}
.popup form .btn {
  margin: 30px 0 0;
}
.popup .checkbox span {
  border-color: #5b89b1;
}
.popup .checkbox span:after {
  background: #5b89b1;
}

/*-popup-*/
/*-----popup-form-----*/
/*-----header-----*/
header {
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  position: absolute;
  display: fixed;
  z-index: 2;
  color: #ffffff;
}
header a {
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
}
header .main-grid {
  height: 60px;
  position: relative;
}
header hr {
  background-color: #ffffff;
  grid-column: span 12;
  border: 0;
  margin: 0;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  position: absolute;
  display: block;
  z-index: auto;
}
header nav li {
  margin-right: 30px;
}
header .nav-1 {
  grid-column: 4/span 3;
}
header .nav-2 {
  grid-column: span 4;
}
header .nav-3 {
  grid-column: span 2;
  text-align: right;
}
header .nav-3 li {
  margin-right: 0;
  margin-left: 30px;
}

nav {
  display: flex;
  font-family: "bold";
}
nav ul,
nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}
nav ul {
  width: 100%;
  margin: auto 0;
}
nav li {
  display: inline-block;
}
nav li a {
  text-decoration: none;
  font-family: inherit;
}

.stub {
  height: 110px;
}

.logo {
  position: relative;
  display: flex;
}
.logo a {
  margin: auto 0;
}
.logo img {
  width: 100%;
  max-width: 210px;
}

.vertical-align {
  display: flex;
}
.vertical-align * {
  margin: auto 0;
}

.hamburger-container {
  grid-column: span 1;
}

.logo-container {
  grid-column: span 2;
}

.sigin-container {
  grid-column: span 3;
}
.sigin-container * {
  vertical-align: middle;
}
.sigin-container span {
  margin: 0 10px;
}
.sigin-container i {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
  margin-right: 15px;
}
.sigin-container em {
  font-style: normal;
}

.city-container {
  grid-column: span 3;
}
.city-container em {
  margin-right: 10px;
  font-style: normal;
}

.controls-container {
  grid-column: span 3;
}
.controls-container .form {
  display: inline-block;
  width: calc(100% - 114px);
  margin: 0;
}
.controls-container .controls-body {
  width: 100%;
  max-width: 350px;
  margin: auto 0 auto auto;
  text-align: right;
}
.controls-container .loop-btn,
.controls-container .basket-btn {
  margin-left: 30px;
}
.controls-container input {
  color: #ffffff;
}
.controls-container input::placeholder {
  color: inherit;
}

.loop-btn {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/icons/loop-white.svg");
}

.basket-btn {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/icons/basket-white.svg");
}

.hamburger-btn {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 21px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/controls/hamburger-white.svg");
}

/*-----header-----*/
/*-----footer-----*/
/*-----footer-----*/
/*-----mobile-menu-----*/
.hamburger {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/controls/menu.svg");
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: auto;
}

.mobile-menu {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  display: none;
  z-index: 5;
  background: #ffffff;
  text-align: center;
}
.mobile-menu.show {
  display: block;
}
.mobile-menu ul,
.mobile-menu li {
  display: block;
}
.mobile-menu ul {
  padding: 0;
  padding-top: 90px;
  padding-bottom: 30px;
}
.mobile-menu li {
  padding: 15px;
  font-size: 15px;
}
.mobile-menu .feedback-container {
  text-align: center;
  margin: 0 0 30px;
}
.mobile-menu .feedback-container .feedback {
  width: 100%;
}
.mobile-menu .close {
  width: 20px;
  height: 20px;
  right: 0;
  top: 0;
  position: absolute;
  display: block;
  z-index: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/controls/cancel.svg");
  margin: 30px 15px;
  cursor: pointer;
}

/*-----mobile-menu-----*/
/*-----slider-owl-----*/
.slider-owl .item-content {
  position: relative;
}
.slider-owl .owl-item,
.slider-owl .item {
  height: 100%;
}

.owl-prev,
.owl-next {
  width: 40px;
  height: 40px;
  left: auto;
  top: 50%;
  position: absolute;
  display: block;
  z-index: auto;
  margin: -20px 30px 0;
  font-size: 0;
}

.owl-prev {
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/controls/prev.svg");
}

.owl-next {
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/controls/next.svg");
}

.owl-dots {
  width: 100%;
  height: auto;
  left: auto;
  bottom: 30px;
  position: absolute;
  display: block;
  z-index: auto;
  text-align: center;
}
.owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 100%;
  border: 1px solid #fff0;
  margin: 10px;
  cursor: pointer;
  position: relative;
}
.owl-dots .owl-dot::after {
  content: "";
  width: 70%;
  height: 70%;
  left: 15%;
  top: 15%;
  position: absolute;
  display: block;
  z-index: auto;
  border-radius: 100%;
  background-color: #ffffff;
}
.owl-dots .owl-dot:hover, .owl-dots .owl-dot.active {
  background: #ffffff;
}

.full-screen {
  height: calc(100vh - 90px);
}

/*-----slider-owl-----*/
/*-----map-----*/
.map-container {
  position: relative;
  height: 400px;
  background: #686868;
}

.contacts-address {
  display: none;
}

#map {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  z-index: auto;
}

/*-----map-----*/
/*--------------------main-page-start----*/
/*--section-1-poster-*/
.poster-main {
  height: 100vh;
  max-height: 800px;
  background: #ccc;
  position: relative;
}
.poster-main .img-cover {
  position: absolute;
}
.poster-main .poster-container,
.poster-main .poster-item,
.poster-main .main-grid {
  height: 100%;
}

.poster-item-body {
  grid-column: 7/span 5;
  display: flex;
}

.poster-info {
  margin: auto 0;
  color: #ffffff;
  position: relative;
}
.poster-info h2 {
  margin: 0 0 30px;
  color: inherit;
}
@media screen and (max-width: 1920px) {
  .poster-info h2 {
    font-size: 42px;
  }
}
@media screen and (max-width: 1680px) {
  .poster-info h2 {
    font-size: 32px;
  }
}
@media screen and (max-width: 1440px) {
  .poster-info h2 {
    font-size: 21px;
  }
}
.poster-info .info-text {
  margin: 0 0 30px;
}
@media screen and (max-width: 1920px) {
  .poster-info .info-text {
    font-size: 23px;
  }
}
@media screen and (max-width: 1440px) {
  .poster-info .info-text {
    font-size: 21px;
  }
}
@media screen and (max-width: 414px) {
  .poster-info .info-text {
    font-size: 18px;
  }
}
.poster-info .btn-group {
  text-align: right;
}

/*--section-1-poster-*/
/*--section-2-cabinet_banners-*/
.cabinet_banners {
  padding-top: 45px;
}

.cabinet_banners-item {
  grid-column: span 4;
  border-top: 1px solid;
  padding-top: 15px;
}
.cabinet_banners-item h3 {
  margin: 0 0 15px;
}
@media screen and (max-width: 1920px) {
  .cabinet_banners-item h3 {
    font-size: 23px;
  }
}
@media screen and (max-width: 1440px) {
  .cabinet_banners-item h3 {
    font-size: 21px;
  }
}
@media screen and (max-width: 414px) {
  .cabinet_banners-item h3 {
    font-size: 18px;
  }
}
.cabinet_banners-item .cabinet_banners-img img {
  width: 100%;
}

/*--section-2-cabinet_banners-*/
/*--------------------main-page-end----*/