section.goods-main 
  h2 Бьюти товары
  .goods-container.main-grid 
    .goods-item
      .goods-list-img
        img(src="../images/temp/goods.png", alt="")
        .goods-list-offer Новинка
      .goods-list-grade
        b 0 отзывов
        .stars-container 
          - for (var x = 0; x < 5; x++)
            i
      h3 Moisturizing serum/ увлажняющая сыворотка
      a.goods-list-check.btn(href="#") Узнать цену
      .goods-list-price
        span 1880.00 р.
      .goods-list-controls
        .goods-list-plus
        .goods-list-current
        .goods-list-minus
      .goods-list-info
        .info-line 
          span Бренд:
          span ANGIOPHARM