section.salon-main 
  h2 Салоны
  .salon-container.main-grid 
    .salon-item.list-item
      h3 Салон красоты "Egoist&Ka"
      .item-grade
        b 0 отзывов
        .stars-container 
          - for (var x = 0; x < 5; x++)
            i
      .salon-item-description 
        |«Блайс» — ультрамодный салон красоты премиум-класса
      .salon-address Островитянова,19/22
      .salon-list-img
        img(src="../images/temp/salon-1.jpg", alt="")
        .list-offer
          em
          span Новинка
