doctype html
html
	body
		.index
		// head
		include default/head.pug 
		// head

		// header 
		include default/header.pug
		// header

		// main-page start

		// section-1 start

		// section-1 end

		
		// main-page end

		// footer

		// footer