doctype html
html
	body
		.index
		// head
		include default/head.pug 
		// head

		// header 
		include default/header.pug
		.stub
		// header

		// main-page start

		// section-1 poster start
		//include main-page/poster.pug
		// section-1 poster end 

		// section-2 cabinet_banners
		//include main-page/cabinet_banners.pug
		// section-2 cabinet_banners 

		// section-3 goods start
		//include main-page/goods.pug
		// section-3 goods end
		
		// section-4 stock start
		//include main-page/stock.pug
		// section-4 stock end
		
		// section-5 salon start
		include main-page/salon.pug
		// section-5 salon end

		// section-6 cosmetologist start
		include main-page/cosmetologist.pug
		// section-6 cosmetologist end

		
		// main-page end

		// footer

		// footer