doctype html
html
	body
		.index
		// head
		include default/head.pug 
		// head

		// header 
		include default/header.pug
		.stub
		// header

		// main-page start

		// section-1 poster start
		//include main-page/poster.pug
		// section-1 poster end 

		// section-2 cabinet_banners
		//include main-page/cabinet_banners.pug
		// section-2 cabinet_banners 

		// section-3 goods
		include main-page/goods.pug
		// section-3 goods 

		
		// main-page end

		// footer

		// footer