.metro-search
  .form.metro-search-head
    input(type="text", name="", placeholder="| Введите наименование станции метро или района")
  .metro-search-body
    ul
      - for (var x = 0; x < 20; x++)
        li
          span Фили
          i
  .metro-search-footer
    a.btn(href="#") Применить 
