doctype html
html
	body
		// head
		include ../default/head.pug 
		// head

		// header 
		include ../default/header.pug
		.stub
		// header
		.salone-detail
			h1 Salon detail
			h2 asdsf jsd afasd fsdfsdfsdafs 